h1, p {
	text-align: center;
}

h2 {
	text-align: center;
	color: blue; 
}

h1 {
	color: red;
}

body {
	color: black;
	background-color: #FFE4C4;
}

button {
	color: black;
	background-color: #FF7F50;
	text-align: center;
	padding: 30px 15px;
}